html {
  height: 100%;
}

body {
  height: 100%;
  min-height: 35rem;
  position: relative;
  font-family: 'Source Sans Pro';
  font-weight: 300;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Merriweather';
  font-weight: 700;
}

video {
  position: fixed;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  transform: translateX(-50%) translateY(-50%);
  z-index: 0;
}

@media (pointer: coarse) and (hover: none) {
  body {
    background: url("../assets/bg-mobile-fallback.jpg") #002E66 no-repeat center center scroll;
    background-position: cover;
  }
  body video {
    display: none;
  }
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: #cd9557;
  opacity: 0.7;
  z-index: 1;
}

.masthead {
  position: relative;
  overflow: hidden;
  padding-bottom: 3rem;
  z-index: 2;
}

.masthead .masthead-bg {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  width: 100%;
  min-height: 35rem;
  height: 100%;
  background-color: rgba(0, 46, 102, 0.8);
  transform: slewY(4deg);
  transform-origin: bottom right;
}

.masthead .masthead-content h1 {
  font-size: 2.5rem;
}

.masthead .masthead-content p {
  font-size: 1.2rem;
}

.masthead .masthead-content p strong {
  font-weight: 700;
}

@media (min-width: 768px) {
  .masthead {
    height: 100%;
    min-height: 0;
    width: 40.5rem;
    padding-bottom: 0;
  }

  .masthead .masthead-bg {
    min-height: 0;
    transform: skeW(-8deg);
    transform-origin: top right;
  }

  .masthead .masthead-content { 
    padding-left: 3rem;
    padding-right: 10rem;
  }

  .masthead .masthead-content {
    padding-left: 3rem;
    padding-right: 10rem;
  }

  .masthead .masthead-content h1 {
    font-size: 3.5rem;
  }

  .masthead .masthead-content p {
    font-size: 1.3rem;
  }
}
