	{%include "header.html" %}
    <section class="p-5 z-depth-1 global-stats" id="global_stats">
        <br>
        <br>
        <h3 class="text-center font-weight-bold mb-5">Global statistics</h3>
        <div class="row d-flex justify-content-center">
            <div class="col-md-6 col-lg-3 mb-4 text-center">
                <h4 class="h1 font-weight-normal mb-3">
              <i class="far fa-check-circle orange-text"></i>
              <p class="font-weight-normal text-muted"></p>
              <span class="d-inline-block count-up" id="total_infected" data-from="0" data-to="" data-time="2500"></span>
            </h4>
                <p class="font-weight-normal">Confirmed cases</p>
            </div>

            <div class="col-md-6 col-lg-3 mb-4 text-center">
                <h4 class="h1 font-weight-normal mb-3">
              <i class="fas fa-first-aid orange-text"></i>
              <p class="font-weight-normal text-muted"></p>
              <span class="d-inline-block count1" id="vindecati" data-from="0" data-to="" data-time="2500"></span>
            </h4>
                <p class="font-weight-normal">Recovered</p>
            </div>

            <div class="col-md-6 col-lg-3 mb-4 text-center">
                <h4 class="h1 font-weight-normal mb-3">
              <i class="fas fa-skull-crossbones orange-text"></i>
              <p class="font-weight-normal text-muted"></p>
              <span class="d-inline-block count3" id="decese" data-from="0" data-to="" data-time="2500"></span>
            </h4>
                <p class="font-weight-normal">Deaths</p>
            </div>
        </div>
    </section>
    <div class="container my-5">
        <!-- Section: Block Content -->
        <section class="dark-grey-text text-center" id="prevention_lungs">

            <h3 class="font-weight-bold mb-4 pb-2">3 things you can do to protect yourself and your community</h3>

            <!-- Grid row -->
            <div class="row">

                <!-- Grid column -->
                <div class="col-lg-4 col-md-12 mb-4">

                    <div class="view overlay rounded z-depth-1">
                        <img src="https://www.cdc.gov/handwashing/images/GettyImages-514363103-medium.jpg" class="img-fluid" alt="Sample project image">
                        <a>
                            <div class="mask rgba-white-slight"></div>
                        </a>
                    </div>

                    <div class="px-3 pt-3 mx-1 mt-1 pb-0">
                        <h4 class="font-weight-bold mt-1 mb-3">Wash your hands frequently and catch coughs and sneezes in a tissue</h4>
                        <p class="text-muted">One of the ways we become infected, or pass on viruses to others, is through the droplets in coughs and sneezes – for instance through someone who has a virus, coughing onto their hand, then touching a door handle.</p>
                    </div>

                </div>
                <!-- Grid column -->

                <!-- Grid column -->
                <div class="col-lg-4 col-md-6 mb-4">

                    <div class="view overlay rounded z-depth-1">
                        <img src="https://www.rd.com/wp-content/uploads/2018/06/callng-911-760x506.jpg" class="img-fluid" alt="Sample project image">
                        <a>
                            <div class="mask rgba-white-slight"></div>
                        </a>
                    </div>

                    <div class="px-3 pt-3 mx-1 mt-1 pb-0">
                        <h4 class="font-weight-bold mt-1 mb-3">Use health services wisely</h4>
                        <p class="text-muted">Now that COVID-19 is considered to be spreading in the community this could mean the NHS is busier than usual so it’s important to think carefully about the NHS services you use.Services like 999 or Accident and Emergency should only be used for genuine emergencies.</p>
                    </div>

                </div>
                <!-- Grid column -->

                <!-- Grid column -->
                <div class="col-lg-4 col-md-6 mb-4">

                    <div class="view overlay rounded z-depth-1">
                        <img src="https://res-3.cloudinary.com/the-university-of-melbourne/image/upload/s--T3zbPNr6--/c_limit,f_auto,q_75,w_892/v1/pursuit-uploads/cba/d4e/f26/cbad4ef26637b37ac6f17280a43d673228776ae5b18d8cb33bf0500c5e47.jpg" class="img-fluid" alt="Sample project image">
                        <a>
                            <div class="mask rgba-white-slight"></div>
                        </a>
                    </div>

                    <div class="px-3 pt-3 mx-1 mt-1 pb-0">
                        <h4 class="font-weight-bold mt-1 mb-3">Stay up to date using trusted sources of information</h4>
                        <p class="text-muted">Since COVID-19 began to spread quickly in China, it has been a major global news story and with this level of media and public interest it’s inevitable that myths, misinformation and rumours will be shared online.</p>
                    </div>
                </div>
                <!-- Grid column -->
            </div>
            <!-- Grid row -->
        </section>
			</div>
        <!-- Section: Block Content -->
		<section class="radiogr" id="scan-lungs">
		  <div class="mask rgba-black-strong py-5">
		    <h3 class="font-weight-bold text-center white-text pb-2">Let the AI scan your X-RAY</h3>
		    <p class="lead text-center white-text pt-2 mb-5">Upload your X-Ray and find out if you have COVID-19</p>
					<form class="input-grey mb-5" method="post" enctype="multipart/form-data">
		        <div class="form-row">
		          <div class="col-md-4 ml-auto">
		            <div class="input-group input-group-lg z-depth-1">
		              <div class="input-group-prepend">
		                <span class="input-group-text rgba-white-light border-0"><i class="fa fa-photo white-text"></i></span>
		              </div>
		                <div class="custom-file">
											<input type="file" class="custom-file-input" id="inputGroupFile01" aria-describedby="inputGroupFileAddon01" accept="image/*" name="file" required>
											<label class="custom-file-label inputf" for="inputGroupFile01">Choose file</label>
					  				</div>
								</div>
							</div>
							<div class="col-md-2 mr-auto">
								<button class="btn btn-block btn-primary btn-md" type="submit" value="Upload">Scan</button>
				      </div>
		  			</div>
					</form>
				</div>
			</section>

			<div class="container my-5">
				<section class="dark-grey-text text-center" id="prevention_brain">
						<h3 class="font-weight-bold mb-4 pb-2">Finished with lungs, Let's talk about our brain</h3>
						<div class="row">
							<div class="col-lg-4 col-md-12 mb-4">
									<div class="view overlay rounded z-depth-1">
											<img src="{{ url_for('static', filename='assets/brain1.jpg')}}" class="img-fluid" alt="Sample project image"  style="width:350px;height:212px;">
											<a>
													<div class="mask rgba-white-slight"></div>
											</a>
									</div>
									<div class="px-3 pt-3 mx-1 mt-1 pb-0">
											<h4 class="font-weight-bold mt-1 mb-3">Our brain's construction</h4>
											<p class="text-muted">The human brain is the central organ of the human nervous system, and with the spinal cord makes up the central nervous system. The brain consists of the cerebrum, the brainstem and the cerebellum. It controls most of the activities of the body, processing, integrating, and coordinating the information it receives from the sense organs, and making decisions as to the instructions sent to the rest of the body.</p>
									</div>
								</div>

								<div class="col-lg-4 col-md-6 mb-4">
										<div class="view overlay rounded z-depth-1">
												<img src="{{ url_for('static', filename='assets/brain2.png')}}" class="img-fluid" alt="Sample project image" style="width:300px;height:212px;">
												<a>
														<div class="mask rgba-white-slight"></div>
												</a>
										</div>

										<div class="px-3 pt-3 mx-1 mt-1 pb-0">
												<h4 class="font-weight-bold mt-1 mb-3">Brain Diseases</h4>
												<p class="text-muted">The biggest disease that human brain can have is a tumor.Brain tumours can be either benign or cancerous. Most malignant tumours arise from another part of the body, most commonly from the lung, breast and skin.[176] Cancers of brain tissue can also occur, and originate from any tissue in and around the brain. Meningioma, cancer of the meninges around the brain, is more common than cancers of brain tissue.</p>
										</div>
								</div>

								<div class="col-lg-4 col-md-6 mb-4">

										<div class="view overlay rounded z-depth-1">
												<img src="{{ url_for('static', filename='assets/brain3.png')}}" class="img-fluid" alt="Sample project image" style="width:300px;height:212px;">
												<a>
														<div class="mask rgba-white-slight"></div>
												</a>
										</div>

										<div class="px-3 pt-3 mx-1 mt-1 pb-0">
												<h4 class="font-weight-bold mt-1 mb-3">What our application does?</h4>
												<p class="text-muted">Our application, takes as an input an MRI imaged brain, and predicts if the brain has a tumor or not, probabilities, accuracy, and other details about the tumor.</p><strong>How the AI is working?</strong><p>As I said, he takes as an input the MRI imaged brain, the image is passing to the hidden layers of the neural network, and shows the result of our algorithm.</p>
										</div>
							</div>
					</div>
				</section>
			</div>

				<section class="radiogr" id="scan_brain">
					<div class="mask rgba-black-strong py-5">
					   <h3 class="font-weight-bold text-center white-text pb-2">Let the AI scan your Brain MRI</h3>
						 <p class="lead text-center white-text pt-2 mb-5">Coming Soon!</p>
					</div>
				</section>

	{%include "footer.html" %}
