<nav class="navbar navbar-custom navbar-dark navbar-expand-md">
    <div class="container">
        <a class="navbar-brand" href="/">CovidX</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav"
            aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" data-target="dropdown">
                        Numar Infectati
                    </a>
                    <div class="dropdown-menu">
                        <a class="dropdown-item" href="/CovidX/numar_infectati">
                          Numar Infectati</a>
                    </div>
                </li>

                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" data-toggle="dropdown">
                      Analiza plamani</a>
                    <div class="dropdown-menu">
                        <a class="dropdown-item" href="/CovidX/Analizeaza_RMN">Analiza RMN/a>
                    </div>
                </li>

                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" data-toggle="dropdown">
                      Informatii</a>
                    <div class="dropdown-menu">
                        <a class="dropdown-item" href="/CovidX/Informatii">Informatii despre Covid-19</a>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</nav>
