	{%include "header.html" %}
<br><br><div class="container my-5">

  <section>
  <h3 class="font-weight-bold mb-4 pb-2">Your prediction</h3>
    <table class="table table-striped">
  <thead>
    <tr>
      <th scope="col">{{ predictions.class1 }}</th>
      <th scope="col">{{ predictions.class2 }}</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>{{ predictions.prob1 }}</td>
      <td>{{ predictions.prob2 }}</td>
    </tr>
  </tbody>
</table>
    


  </section>

</div> 
<footer class="footer text-center mt-4 pb-4 pt-4 fixed-bottom" id="footer">
  <div class="font-small">
    &copy; Covid-Z 2020 | Part of the change
  </div>
</footer>
</body>
</html>
