<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<title>Covid-Z|Part of the change</title>

	<link href="https://fonts.googleapis.com/css?family=Montserrat:200,400,700" rel="stylesheet">

	<link type="text/css" rel="stylesheet" href="../static/css/style_error.css" />
</head>

<body>
	{%include "header.html" %}
	<div id="notfound">
		<div class="notfound">
			<div class="notfound-404">
				<p>You see this message because:</p>
				<p>1)Due to our care about your privacy, after uploading your image, we delete it, to not expose your data more than it should be.Thank you for choosing us.If you want to see your results again, you can reupload it, it's free:).</p> 
				<p>OR</p>
				<p>2)Maybe you uploaded a larger file than expected(the maximum size of the file is 8MB).</p>
			</div>
			<p></p> 
			<p></p>
			<a href="https://covid-z.vision/">Go to homepage</a>
		</div>
	</div>
	{%include "footer.html" %}
</body>

</html>
