<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<title>Covid-Z|Part of the change</title>

	<link href="https://fonts.googleapis.com/css?family=Montserrat:200,400,700" rel="stylesheet">

	<link type="text/css" rel="stylesheet" href="../static/css/style_error.css" />
</head>

<body>
	{%include "header.html" %}
	<div id="notfound">
		<div class="notfound">
			<div class="notfound-404">
				<h1>Oops!</h1>
				<h2>You see this because:</h2>  
				<h2>1) after receiving the result, we delete the image you uploaded so that the security of your data is not exposed more than necessary.</h2> 
				<h2>2) The size of the image you uploaded is too big.The maximum size is 8 megabytes</h2> 
			</div>
			<a href="https://covid-z.vision/">Go to homepage</a>
		</div>
	</div>
	{%include "footer.html" %}
</body>

</html>
